parameters:
    level: 9
    paths:
        - SITE/
    excludePaths:
        - SITE/App/Views/
    scanDirectories:
        - SITE/Core/
        - SITE/App/Models/
        - SITE/App/Controllers/
    treatPhpDocTypesAsCertain: false
